<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675387280298-eh41lshdrhnf576ciilis2eegcvf04ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675387280298-eh41lshdrhnf576ciilis2eegcvf04ka</string>
	<key>API_KEY</key>
	<string>AIzaSyC90bYhTuRUgM61ibDwojgg17TSN74gFCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>675387280298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tukitakiFlutter</string>
	<key>PROJECT_ID</key>
	<string>tukitaki-b3b05</string>
	<key>STORAGE_BUCKET</key>
	<string>tukitaki-b3b05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675387280298:ios:ec5a5fd667bda48a4079d3</string>
</dict>
</plist>